/* 
    ./.babelrc
*/  
{
    "presets":[
        "env", "react", "stage-0"
    ],
    "env": {
        "start": {
            "presets": [
                "react-hmre"
            ]
        }
    }
}